<div class="container">
	<div class="row">
		<!-- Logo column -->
		<div class="col-md-6 center-text">
			<!-- Big logo -->
            <img class="images-padding center-fit login-logo" src="../assets/images/LogoSAv1.png">
		</div>
		<div class="col-md-6" style="height: 350px; margin-top: 6.5%">
			<mat-card>
				<div class="row">
					<div class="col-12 center-text">
						<h3>{{ constant.title }}</h3>
					</div>
					<!-- change password form -->
					<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" novalidate class="col-12 center-text">
						<div class="col-12 center-text">
							<mat-form-field>
								<input matInput type="password" placeholder={{constant.phPassOld}} formControlName={{constant.passOld}}>
								<mat-error *ngIf="changePasswordForm.get(constant.passOld).errors?.required">
	      							{{ constant.passOldError }}
	    						</mat-error>
							</mat-form-field>
						</div>
						<div class="col-12 center-text">
							<mat-form-field>
								<input matInput type="password" placeholder={{constant.phPassNew}} formControlName={{constant.passNew}}>
								<mat-error *ngIf="changePasswordForm.get(constant.passNew).errors?.required">
	      							{{ constant.passNewError }}
	    						</mat-error>
							</mat-form-field>
						</div>
						<div class="col-12 center-text">
							<mat-form-field>
								<input matInput type="password" placeholder={{constant.phPassRep}} formControlName={{constant.passRep}}>
								<mat-error *ngIf="changePasswordForm.get(constant.passRep).errors?.required">
	      							{{ constant.passRepError1 }}
	    						</mat-error>
	    						<mat-error *ngIf="changePasswordForm.get(constant.passRep).errors?.repeatNewPassword">
	      							{{ constant.passRepError2 }}
	    						</mat-error>
							</mat-form-field>
						</div>
						<br>
						<div class="col-12 center-text">
							<button mat-stroked-button class="medium-blue-bg" type="submit" [disabled]="!changePasswordForm.valid">{{ constant.passSubmit }}</button>
						</div>
					</form>
				</div>
			</mat-card>
		</div>
	</div>
</div>